@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");

body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg,   rgba(2,0,36,1), rgb(6, 6, 68));
  font-family: 'Fredoka One', cursive, sans-serif;
}
.game-status {
  color: white;
}

.game-board {
  font-size: 3vw;
  min-height: 100px;
}

/* padding same as with makes this a square,
   because the grid-container has absolute position*/
.grid-wrapper {
  display: inline-block;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 33.3%);
  grid-row-gap: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 90px;
  min-height: 90px;
}

.grid-item,
.grid-item button {
  min-width: 30px;
  min-height: 30px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.square {
  display: block;
  background: white;
  opacity:  0.5;
  width: 100%;
  height:  100%;
  border: 1px solid rgb(0, 0, 0);
  font-size: 5vw;
}

.square:focus {
  outline: none;
}

.square:hover {
  background: rgb(230, 230, 230);
}

.square,
.game-status,
.game-info,
.game-info button {
  font-family: 'Fredoka One', cursive, sans-serif;
}

.win-square {
  color: rgb(0, 97, 0);
  opacity: 1;
}

@media screen and (max-width: 400px) {
  .square {
    font-size: 20px;
  }
}